html{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(skyblue, blue);
    height: 100vh;
}

header{
    margin-bottom: 30px;
    text-align: center;

}

select{
    font-size: 1.1rem;
}

.section-container{
    display: flex;
    flex-direction: row;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: right;
}

.column{
 flex: -10;
}

img{
    max-width: 800px;
    max-height: 600px;
    justify-content: center;
}

span{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.3rem;
}



#dog-name{
    font-size: 2rem;
    text-decoration: none;
}

#left-column{
    justify-content: center;
}